#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  color: #5aa83b;
}

.read-the-docs {
  color: #888;
}

.project-container {
  width: 100%;
}

.line{
  margin: 20px;
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}